name: Unit Test Angular App (Vitest)

on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
        default: "['22.x']"
        description: Node.js version to use when setting up. (eg. 22.x, 20.x)

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node_version) }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: npm ci

      - name: Run Vitest tests
        run: npm test -- --watch=false --coverage
        env:
          CI: true

      - name: Upload test coverage
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: vitest-coverage-${{ matrix.node-version }}
          path: coverage/
          retention-days: 7
