name: Lint Angular App

on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
        default: "['22.x']"
        description: Node.js version to use when setting up. (eg. 22.x, 20.x)

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node_version) }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: npm ci

      - name: Run ESLint in CI mode
        run: npm run lint
        env:
          CI: true
