name: Scan for secrets with Gitleaks

on:
  workflow_call:
    inputs:
      config_path:
        required: false
        type: string
        default: ""
        description: Path to custom Gitleaks config file (optional)

jobs:
  secret-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: gitleaks/gitleaks-action@v2
        with:
          config-path: ${{ inputs.config_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
