name: Scan for secrets with Gitleaks

on:
  workflow_call:
    inputs:
      config_path:
        required: false
        type: string
        default: ""
        description: Node.js version to use when setting up. (eg. 22.x, 20.x)

jobs:
  secret-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: gitleaks/gitleaks-action@v2
        with:
          config-path: ${{ fromJson(inputs.config_path) }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
