name: Analyze Node Dependencies with Snyk

on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
        default: "['22.x']"
        description: Node.js version to use when setting up. (eg. 22.x, 20.x)
    secrets:
      SNYK_TOKEN:
        required: true
        description: Token will be used to run Snyk.

jobs:
  dependency-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node_version) }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: npm ci

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          CI: true
        with:
          args: --severity-threshold=high --json

    #   - name: Run npm audit
    #     run: npm audit --audit-level=high
