name: Semantic Release

on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
        default: "['22.x']"
        description: Node.js version to use when setting up. (eg. 20.x, 18.x)

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node_version) }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm install --global semantic-release@24.2.0 @semantic-release/github@11.0.1

      - name: Semantic Release
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 2
          command: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
